/**
 * Setup the table, the body and the links
 */
body
{
    background-color: black;
    background-image: url('../grfx/background.jpg');
    background-size: 100%;
    color: #6666FF;
    margin: 0;
    padding: 0;
}

a.sysname:link, a.sysname:visited
{
    text-decoration: none;
    color: #4444FF;
}

a.sysname:hover
{
    color: #5555FF;
}

a.sysnameSel
{
    text-decoration: overline underline;
}

/**
 * id
 */

#hud {
    display:none;
    background:rgba(0,0,0,0.85);
    width:100%;
    position:absolute;
    height:100%;
    z-index:1;
}
#info_central {
    background: rgba(255,255,255,0.85);
    margin: 0 auto;
    position: relative;
    top: 30%;
    width: 250px;
    height: 200px;
}
#info_central .close {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #999;
    height: auto;
    width: auto;
    display: block;
}
#moneydisp
{
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
}

/**
 * Classes
 */
.starmap
{
    width: 100%;
    height: 100%;
}

table.sysview
{
    padding-left: 50px;
    height: 100%;
}

img.hiddenImg
{
    display: none;
}

span.button
{
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #4444FF;
}

span.selectedButton
{
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #4444FF;
}

div.tile
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    text-align: center;

    /* The border will always be there */
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

div.centeredText
{
    text-align: center;
}

div.dispSmall
{
    font-size: x-small;
}

td.paddedLeft
{
    padding-left: 100px;
}

.header
{
    position: absolute;
    top: 5px;
    height: 30px;
    width: 100%;
}

.moneyDisp
{
    width: 180px;
    display: inline-block;
}

.content
{
    position: absolute;
    top: 40px;
    bottom: 70px;
    width: 100%;
}

.footer
{
    position: absolute;
    bottom: 5px;
    height: 50px;
    width: 100%;
}

.righted
{
    padding-left: 20px;
}

.designerFrame
{
    padding-left: 20px;
    padding-right: 20px;
}

.designerHead
{
    padding-bottom: 20px;
}

.designerOptions
{
    background-color: #101010;
    padding-top: 3px;
}

.designerLeftPanel
{
    background-color: #101010;
    float: left;
}

.designerModPanel
{
    padding-top: 3px;
    padding-left: 10px;
    width: 330px;
    height: 400px;
}

.designerNameNHull
{
    background-color: #101010;
    padding-top: 3px;
    padding-left: 20px;
    width: 500px;
    height: 200px;
    float: right;
}

.designerModStats
{
    padding-top: 3px;
    padding-left: 10px;
    width: 300px;
    height: 75px;
}

.designerLeftNStats
{
    width: 880px;
    float: left;
}

.designerSelMods
{
    background-color: #101010;
    margin-top: 20px;
    padding-left: 20px;
    width: 500px;
    height: 260px;
    float: right;
}

.designerShipStats
{
    background-color: #101010;
    padding-top: 3px;
    padding-left: 10px;
    width: 300px;
    height: 400px;
    float: right;
}

.catBtn
{
    /* Default color for web browsers without gradient support 
    background: #202020;*/
    margin-left: 5px;
    margin-right: 5px;
}

.maxed
{
    width: 100%;
    height: 100%;
}

.wide
{
    width: 100%;
}

.tall
{
    height: 100%;
}

.systemInfo
{
    text-align: center;
    width: 700px;
    height: 50px;
    margin: 0px auto;
}

.infoTitle
{
    background-color: #202020;
}

.systemInfoData
{
    background-color: #101010;
    width: 100%;
}

.systemBar
{
    width: 600px;
    height: 100px;
    margin: 0px auto;
}

.constOptions
{
    background-color: #101010;
    width: 200px;
    height: 100px;
}

.constList
{
    background-color: #101010;
    width: 400px;
    height: 100px;
}

.constListBuilding
{
    background-color: #202020;
}

.constTable
{
    width: 100%;
    margin: 0px;
}

.constTableCell
{
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
}

.endturn
{
    position: absolute;
    right: 5px;
}

.btn
{
    /* Set the color to either #FFAA00 or, if supported, a gradient */
    background: #FFAA00;
    background: -moz-linear-gradient(top, #FFAA00, #FF4400);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFAA00), to(#FF4400));

    border: 1px solid black;
    border-radius: 5px;
    margin: 0px;
    padding: 1px;
    color: #000000;
}

.btn:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.btn:active
{
    background: #FFBB11;
    background: -moz-linear-gradient(top, #FFCC44, #FF7744);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFCC44), to(#FF7744));
}

.btn:disabled
{
    background: #DD8800;
    background: -moz-linear-gradient(top, #A68400, #A60700);
    background: -webkit-gradient(linear, left top, left bottom, from(#A68400), to(#A60700));
    cursor: default;
    text-decoration: none;
}

.txtbtn
{
    background: none;
    border: none;
    border-bottom: 1px solid #4444FF;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #4444FF; 
}

.txtbtn:hover
{
    border-bottom: 1px solid #7777FF;
    color: #7777FF;
}

.txtbtn:active
{
    border-bottom: 1px solid #2222FF;
    color: #2222FF;
}

.ship
{
    background:#000000;
    border-radius: 2px;
    color:#FFFFFF;
}

.activeShip
{
    border: 2px solid red;
    border-radius: 2px;
    background:#0e0e0e;
}

.sysIndicator
{
    border:3px solid black;
    display:inline-block;
    padding:4px;
}

.sysIndicator.active
{
    border:3px solid red;
}
