/**
 * Setup the table, the body and the links
 */
body
{
    background-color: black;
    background-image: url('../grfx/background.jpg');
    background-size: 100%;
    color: #4444FF;
    margin: 0;
    padding: 0;
}

a.sysname:link, a.sysname:visited
{
    text-decoration: none;
    color: #4444FF;
}

a.sysname:hover
{
    color: #5555FF;
}

a.sysnameSel
{
    text-decoration: overline underline;
}

/**
 * id
 */

#hud {
    display:none;
    background:rgba(0,0,0,0.85);
    width:100%;
    position:absolute;
    height:100%;
    z-index:1;
}
#info_central {
    background:rgba(255,255,255,0.85);
    margin:0 auto;
    position:relative;
    top:30%;
    width: 250px;
    height:200px;
}
#info_central .close {
    position: absolute;
    top:-5px;
    right: -5px;
    background:#999;
    height:auto;
    width:auto;
    display: block;
}
#moneydisp
{
    padding-left: 10px;
    padding-right: 10px;
    width: 50px;
}

/**
 * Classes
 */
.starmap
{
    width: 100%;
    height: 100%;
}

table.sysview
{
    padding-left: 50px;
    height: 100%;
}

img.hiddenImg
{
    display: none;
}

span.righted
{
    padding-left: 10px;
}

span.button
{
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #4444FF;
}

span.selectedButton
{
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #4444FF;
}

div.tile
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    text-align: center;

    /* The border will always be there */
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

div.centeredText
{
    text-align: center;
}

div.dispSmall
{
    font-size: x-small;
}

td.paddedLeft
{
    padding-left: 100px;
}

.header
{
    position: absolute;
    top: 5px;
    height: 30px;
    width: 100%;
}

.moneyDisp
{
    width: 130px;
    display: inline-block;
}

.content
{
    position: absolute;
    top: 40px;
    bottom: 70px;
    width: 100%;
}

.footer
{
    position: absolute;
    bottom: 5px;
    height: 50px;
    width: 100%;
}

.maxed
{
    width: 100%;
    height: 100%;
}

.endturn
{
    position: absolute;
    right: 5px;
}

.systemInfo
{
    text-align: center;
    width: 700px;
    height: 50px;
    margin: 0px auto;
}

.systemInfoName
{
    background-color: #202020;
}

.systemInfoData
{
    background-color: #101010;
    width: 100%;
}

.systemBar
{
    width: 600px;
    height: 100px;
    margin: 0px auto;
}

.constOptions
{
    background-color: #101010;
    width: 200px;
    height: 100px;
}

.constList
{
    background-color: #101010;
    width: 400px;
    height: 100px;
}

.constListBuilding
{
    background-color: #202020;
}

.constTable
{
    width: 100%;
    margin: 0px;
}

.constTableCell
{
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
}

.txtbtn
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: #4444FF;
}

.txtbtn:hover
{
    cursor:pointer;
    text-decoration: underline;
}

.ship
{
    background:#000;
    border-radius: 2px;
    color:#fff;
}

.activeShip
{
    border: 2px solid red;
    border-radius: 2px;
    background:#0e0e0e;
}

.sysIndicator
{
    border:3px solid black;
    display:inline-block;
    padding:4px;
}

.sysIndicator.active
{
    border:3px solid red;
}